<p ss>
	当前视图name：{=$theView->name()}
</p>

<form id="theform">
	<widget id="radio1"/> <msgqueue for="$theView->widget('radio1')->messageQueue()" /><br />
	<widget id="radio2"/> <msgqueue for="$theView->widget('radio2')->messageQueue()" /><br />
	<widget id="radio3"/> <msgqueue for="$theView->widget('radio3')->messageQueue()" /><br />
	<widget id="radio4"/> <msgqueue for="$theView->widget('radio4')->messageQueue()" /><br />
	<input type="submit" value="submit" />
</form>

<views />
<p>当前视图hash：{=spl_object_hash($theView)}</p>