[submodule "doc"]
	path = doc
	url = http://git.jecat.cn/framework/doc.git
[submodule "framework"]
	path = framework
	url = http://git.jecat.cn/framework/framework.git
[submodule "test"]
	path = test
	url = http://git.jecat.cn/framework/test.git
[submodule "pear"]
	path = pear
	url = http://git.jecat.cn/framework/pear.git
